extend ../../layout

block head
    style.
      span.headLeft {
      font-size: larger;
      position: relative;
      left: 52%;
      top: -48px;
      color: white;
      }
      div#headerFront {
      position: fixed;
      }
      td {
      text-align: center;
      }
    link(rel='stylesheet', type='text/css', media='all', href='css/daterangepicker-bs3.css')
    link(rel='stylesheet', href='/css/download.css')
    link(rel='stylesheet', href='/css/bootstrap-datetimepicker.min.css')
    script(src='js/bootstrap-datetimepicker.min.js')
    script(src='../common/js/match/addMatch.js')
    script(src='js/jquery.form.js')
    
block sidebar
  #sidebar
    a.visible-phone(href='/')
      i.icon.icon-home
      |  主页
    |   
    ul
      if role === 1
        li
          a(href='/paper')
            i.icon.icon-inbox
            |  
            span 门票验证
        |     
        li
          a(href='/orders')
            i.icon.icon-th
            |  
            span 订单查询
        |    
        li
          a(href='/vip')
            i.icon.icon-th
            |  
            span 会员管理 
      if role > 9
        li.submenu.open
          a(href='#')
            i.icon.icon-list
            |  
            span 日赛
            |  
            span.label.label-important 4
          |       
          ul
            li.active
              a(href='/chooseclub?id=1') 发布日赛
            li
              a(href='/chooseclub?id=2') 日赛日历
            li
              a(href='/dailyMatchResult') 发布日赛结果
            li
              a(href='/chooseclub?id=3') 日赛系列列表
        li
          a(href='/chooseclub?id=4')
            i.icon.icon-th
            |  
            span 赛事结构列表     
        li.submenu
          a(href='#')
            i.icon.icon-list
            |  
            span 俱乐部
            |  
            span.label.label-important 1
          |       
          ul
            li
              a(href='/addClub') 添加俱乐部   

block content
  #content
    #content-header
      #breadcrumb
        a.tip-bottom(href='/', title='Go to Home')
          i.icon-home
          |  主页
        |  
        a.tip-bottom(href='#') #{title}
        |  
      h1 #{title}
    .container-fluid
      hr
      |   
      .row-fluid
        .widget-box
          .widget-title
            span.icon
              i.icon-align-justify
            |           
            h5 
          |  
          .widget-content.nopadding
            form.form-horizontal.addMatch(enctype="multipart/form-data")
              .control-group
                label.control-label 赛事名称 :
                |               
                .controls
                  select(name='matchSerie')
                    option(value='0', selected='true') 请选择
                    each list in serieLists         
                      option(value='#{list.dailyMatchSerie_id}') #{list.name}
              .control-group
                label.control-label 日期 :
                |               
                .controls.matchDate
                  input(type='checkbox',name='matchDays', value='1') 
                  | 周一        
                  input(type='checkbox',name='matchDays', value='2') 
                  | 周二
                  input(type='checkbox',name='matchDays', value='3') 
                  | 周三       
                  input(type='checkbox',name='matchDays', value='4') 
                  | 周四
                  input(type='checkbox',name='matchDays', value='5') 
                  | 周五        
                  input(type='checkbox',name='matchDays', value='6') 
                  | 周六
                  input(type='checkbox',name='matchDays', value='7') 
                  | 周日       
              .control-group
                label.control-label 开始时间 :
                |               
                .controls
                  .input-append#datetimepicker1
                    input(data-format="hh:mm:ss", readonly='', type="text", name='startTime', placeholder='开始时间')
                    span.add-on
                      i(data-time-icon="icon-time", data-date-icon="icon-calendar")
              .control-group
                label.control-label 报名截止时间 :
                |               
                .controls
                  .input-append#datetimepicker2
                    input(data-format="hh:mm:ss", readonly='', type="text", name='endTime', placeholder='报名截止时间')
                    span.add-on
                      i(data-time-icon="icon-time", data-date-icon="icon-calendar")
              .control-group
                label.control-label 单价 :
                |               
                .controls
                  input.span5(type='text', placeholder='单价', name='price')
              .control-group
                label.control-label 备注 :
                |               
                .controls
                  textarea.span5(name='remark')  
              .control-group
                label.control-label 赛事结构表 :
                |               
                .controls
                  select(name='matchSetting')
                    option(value='0', selected='true') 请选择
                    each list in settingLists         
                      option(value='#{list.matchSetting_id}') #{list.name}
                    
              .form-actions
                button.btn.btn-success.success(type='button') 提交审核
                button.btn.btn-success.back(type='button') 返回
                
          script(type='text/javascript', src='js/moment.js')
          script(type='text/javascript', src='js/daterangepicker.js')
          
