extend ../../layout

block head
    link(rel='stylesheet', href='/css/download.css')
    script(src='../common/js/match/matchDetail.js')

    
block sidebar
  #sidebar
    a.visible-phone(href='/')
      i.icon.icon-home
      |  主页
    |   
    ul
      if role === 1
        li
          a(href='/paper')
            i.icon.icon-inbox
            |  
            span 门票验证
        |     
        li
          a(href='/orders')
            i.icon.icon-th
            |  
            span 订单查询
        |    
        li
          a(href='/vip')
            i.icon.icon-th
            |  
            span 会员管理 
      if role > 9
        li.submenu.open
          a(href='#')
            i.icon.icon-list
            |  
            span 日赛
            |  
            span.label.label-important 4
          |       
          ul
            li
              a(href='/dailyChooseClub?id=1') 发布日赛
            li.active
              a(href='/dailyChooseClub?id=2') 日赛日历
            li
              a(href='/dailyMatchResult') 发布日赛结果
            li
              a(href='/dailyChooseClub?id=3') 日赛系列列表
        li
          a(href='/dailyChooseClub?id=4')
            i.icon.icon-th
            |  
            span 赛事结构列表
        li.submenu
          a(href='#')
            i.icon.icon-list
            |  
            span 俱乐部
            |  
            span.label.label-important 1
          |       
          ul
            li
              a(href='/addClub') 添加俱乐部   

block content
  #content
    #content-header
      #breadcrumb
        a.tip-bottom(href='/', title='Go to Home')
          i.icon-home
          |  主页
        |  
        a.tip-bottom(href='#') #{title}
        |  
      h1 #{title}
    .container-fluid
      hr
      |   
      .row-fluid
        .widget-box
          .widget-title
            span.icon
              i.icon-align-justify
            |           
            h5 
          |  
          .widget-content.nopadding
            form.form-horizontal.addMatch(enctype="multipart/form-data")
              .control-group
                label.control-label 赛事名称 :
                |               
                .controls
                  input.span5(type='text', readonly, value='#{detail.dailyMatchSerie.name}')
                  input.hide(type='text', readonly, value='#{detail.dailyMatch_id}')
                  |     
              .control-group
                label.control-label 日期 :
                |               
                .controls
                  input(type='text', readonly, value='#{detail.match_day}')
                  |          
              .control-group
                label.control-label 开始时间 :
                |               
                .controls
                  input(type='text', readonly, value='#{detail.start_time}')  
                  |   
              .control-group
                label.control-label 报名截止时间 :
                |               
                .controls
                  .input-append#datetimepicker2
                    input(type='text', readonly, value='#{detail.close_reg_time}')
                    |  
              .control-group
                label.control-label 单价 :
                |               
                .controls
                  input.span5(type='text', readonly, value='#{detail.unit_price}')
                  |  
              .control-group
                label.control-label 备注 :
                |               
                .controls
                  textarea.span5(name='remark', readonly) #{detail.remark}
              .control-group
                label.control-label 赛事结构表 :
                |               
                .controls
                  input.span5(type='text', readonly, value='#{detail.matchSetting.name}')
              .control-group
                label.control-label 展示状态 :
                |               
                .controls
                  if (detail.state === 1)
                    input.span5(type='text', readonly, value='正常展示')
                  else
                    input.span5(type='text', readonly, value='不展示')
              .control-group
                label.control-label 是否展示 :
                |               
                .controls
                  select(name='state')
                    option(value='0', selected='true') 请选择
                    option(value='1') 是
                    option(value='3') 否
                  
                  
              .form-actions
                input.btn.btn-success.success(type='button', value='提交')
                button.btn.btn-success.back(type='button') 返回
                

          
